.idea/*
output/
db/main.sqlite
art3d_hydra.egg-info/*
dist/*
build/*
*.pyc
__outlines__.svg
tmp/
.~lock.data.xlsx#
.~lock.data.xls#
main.sqlite-journal
canonic.json
docs/_build/*
docs/_templates/*
docs/Makefile
input/ntush/data.xml
log/*